@import url("https://fonts.googleapis.com/css?family=Courgette|Merienda&display=swap");
#clients .client-logo img, #team .member-item .member-info, #team .member-item img, #portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info, #portfolio .portfolio .portfolio-item .portfolio-wrapper img, #portfolio ul li, #choose-us .card .card-body .card-link, #services .box, #about-us .media span, #intro a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#team .member-item .member-info, #portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#clients .client-logo, #team .member-item .member-info, #portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info, #about-us .media span {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#contact-us h2, #clients h2, #team h2, #testimonials h2, #portfolio h2, #services h2, #about-us h2 {
  color: #283d50;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
}

#clients p, #team .desc, #testimonials .item .media .media-body p, #choose-us .desc, #services .desc, #about-us .about {
  font-family: "Merienda", cursive;
  font-style: italic;
  margin: 0 auto 40px;
  width: 85%;
  font-size: 1.2em;
  color: #6c757d;
  line-height: 1.6em;
}

#footer, #contact-us, #clients, #team, #testimonials, #portfolio, #choose-us, #services, #about-us {
  padding: 50px 0;
}

#clients, #testimonials, #services {
  background-color: #ecf5ff;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#choose-us .card, #services .box {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767.98px) {
  #portfolio .portfolio {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    -o-column-width: 50%;
    -ms-column-width: 50%;
    column-width: 50%;
  }
}
@media (min-width: 768px) {
  #portfolio .portfolio {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33.3333%;
    -moz-column-width: 33.3333%;
    -o-column-width: 33.3333%;
    -ms-column-width: 33.3333%;
    column-width: 33.3333%;
  }
}
body {
  font-family: merienda, sans-serif;
  position: relative;
}

#header .navbar .navbar-brand img {
  width: 150px;
}
#header .navbar .nav-link {
  color: #00366f;
  font-size: 18px;
  margin-left: 10px;
  text-transform: capitalize;
}
#header .navbar .nav-link:hover {
  color: #017bff;
}
#header .navbar .active a {
  color: #017bff;
}

/* intro section */
#intro {
  margin-top: 60px;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 140px 0;
}
#intro h1 {
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  margin-bottom: 35px;
}
#intro h1 span {
  color: #74b5fc;
  text-decoration: underline;
}
#intro a {
  border: 2px solid #fff;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
#intro a:first-of-type {
  background-color: #017bff;
  border: 2px solid #017bff;
}
#intro a:first-of-type:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
#intro a:last-of-type {
  margin-left: 30px;
}
#intro a:last-of-type:hover {
  background-color: #017bff;
  border: 2px solid #017bff;
}

/* about us section */
#about-us .text {
  color: #6c757d;
}
#about-us .media {
  margin-bottom: 10px;
}
#about-us .media h5 {
  color: #00366f;
}
#about-us .media p {
  color: #6c757d;
}
#about-us .media span {
  width: 64px;
  height: 64px;
  border: 2px solid #017bff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #017bff;
}
#about-us .media span .svg-inline--fa {
  padding: 7px;
}
#about-us .media:hover span {
  background-color: #017bff;
  color: #fff;
}

/* services section */
#services .box {
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin: 0 10px 20px 10px;
  overflow: hidden;
  border-radius: 10px;
}
#services .box a {
  color: #000;
  text-decoration: none;
}
#services .box:hover {
  transform: translateY(-7px);
}
#services .box:hover a {
  color: #017bff;
  cursor: pointer;
}
#services .box:hover .svg-inline--fa {
  color: #017bff;
}
#services .box .media-body {
  padding: 10px 50px;
}
#services .box span {
  position: absolute;
  top: calc(50% - 24px);
  left: -5px;
}

/* choose us section */
#choose-us {
  color: #fff;
  background-color: #00366f;
}
#choose-us h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
#choose-us .desc {
  color: #dddede;
}
#choose-us .card {
  background-color: #00458f;
}
#choose-us .card:hover {
  background: #003b7a;
}
#choose-us .card .card-body .svg-inline--fa {
  color: #bfddfe;
}
#choose-us .card .card-body p {
  color: #d8eafe;
  line-height: 1.5em;
}
#choose-us .card .card-body .card-link {
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #00458f;
}
#choose-us .card .card-body .card-link:hover {
  border-bottom-color: #fff;
}
#choose-us .stats span {
  font-size: 50px;
  font-weight: 600;
}

/* start portfolio section*/
#portfolio h2 {
  margin-bottom: 30px;
}
#portfolio ul li {
  flex-direction: row;
  padding: 5px 30px;
  margin-right: 20px;
  background-color: #ecf5ff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#portfolio ul li:hover {
  background-color: #017bff;
  cursor: pointer;
  color: #fff;
}
#portfolio ul li.active {
  background-color: #017bff;
  cursor: pointer;
  color: #fff;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper {
  position: relative;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper img {
  width: 100%;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info h4 a {
  color: #fff;
  text-decoration: none;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info p {
  text-transform: uppercase;
}
#portfolio .portfolio .portfolio-item .portfolio-wrapper .portfolio-info .portfolio-links a {
  background-color: #017bff;
  padding: 5px 7px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
}
#portfolio .portfolio .portfolio-item:hover .portfolio-wrapper {
  background-color: #00366f;
}
#portfolio .portfolio .portfolio-item:hover .portfolio-wrapper img {
  opacity: 0.4;
}
#portfolio .portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

#testimonials h2 {
  margin-bottom: 50px;
}
#testimonials .item .media img {
  width: 120px;
}
#testimonials .item .media .media-body p {
  margin: 0;
  width: 100%;
}

#team .member-item {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
}
#team .member-item .member-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
}
#team .member-item .member-info p {
  color: #ecf5ff;
  font-style: italic;
}
#team .member-item .member-info .links a {
  color: #fff;
  margin-right: 4px;
}
#team .member-item .member-info .links a:last-child {
  margin-right: 0;
}
#team .member-item:hover img {
  opacity: 0.4;
}
#team .member-item:hover .member-info {
  opacity: 1;
  background-color: rgba(0, 54, 111, 0.8);
}

/* start clients section */
#clients .client-logo {
  padding: 60px;
  background-color: #fff;
  height: 180px;
  margin: 1px;
}
#clients .client-logo:hover img {
  transform: scale(1.2);
}

/* end clients section */
#contact-us h2 {
  margin-bottom: 30px;
}

#footer {
  background-color: #004a99;
  color: #fff;
}
#footer h4,
#footer h5 {
  text-transform: uppercase;
}
#footer ul li {
  margin-bottom: 5px;
}
#footer ul li a {
  text-decoration: none;
  color: #ecf5ff;
}

.copyright {
  background-color: #00366f;
  color: #fff;
}
.copyright a {
  text-decoration: none;
}

#scroll-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
  cursor: pointer;
}
#scroll-top .svg-inline--fa {
  background-color: #017bff;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
