#header .navbar .navbar-brand img {
  width: 150px;
}
#header .navbar .nav-link {
  color: #00366f;
  font-size: 18px;
  margin-left: 10px;
  text-transform: capitalize;
}
#header .navbar .nav-link:hover {
  color: #017bff;
}
#header .navbar .active {
  color: #017bff;
}

/* intro section */
#intro {
  margin-top: 60px;
  background: url(../img/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 140px 0;
}
#intro h1 {
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  margin-bottom: 35px;
}
#intro h1 span {
  color: #74b5fc;
  text-decoration: underline;
}
#intro a {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}
#intro a:first-of-type {
  background-color: #017bff;
  border: 2px solid #017bff;
}
#intro a:first-of-type:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
#intro a:last-of-type {
  margin-left: 30px;
}
#intro a:last-of-type:hover {
  background-color: #017bff;
  border: 2px solid #017bff;
}

/* about us section */
#about-us {
  padding: 50px 0;
}
#about-us h2 {
  color: #017bff;
}
#about-us .about {
  width: 80%;
  font-size: 20px;
  color: #6c757d;
}
#about-us .text {
  color: #6c757d;
}
#about-us .media {
  margin-bottom: 10px;
}
#about-us .media h5 {
  color: #00366f;
}
#about-us .media p {
  color: #6c757d;
}
#about-us .media span {
  width: 64px;
  height: 64px;
  border: 2px solid #017bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #017bff;
  transition: all 0.4s ease-in-out;
}
#about-us .media span .svg-inline--fa {
  padding: 7px;
}
#about-us .media:hover span {
  background-color: #017bff;
  color: #fff;
}

/* services section */
#services {
  padding: 50px 0;
  background-color: #ecf5ff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
#services h2 {
  color: #017bff;
}
#services .desc {
  padding: 20px 0 30px;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: #6c757d;
}
#services .media {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin: 0 10px 20px 10px;
  overflow: hidden;
  border-radius: 10px;
}
#services .media .media-body {
  padding: 10px 50px;
}
#services .media span {
  position: absolute;
  top: calc(50% - 24px);
  left: -5px;
}

/* choose us section */
#choose-us {
  padding: 50px 0;
  color: #fff;
  background-color: #00366f;
}
#choose-us h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
#choose-us .desc {
  margin: 0 auto 40px;
  width: 80%;
  font-size: 18px;
  color: #cecece;
  line-height: 1.6em;
}
#choose-us .card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #00458f;
}
#choose-us .card .card-body .svg-inline--fa {
  color: #bfddfe;
}
#choose-us .card .card-body p {
  color: #d8eafe;
  line-height: 1.5em;
}
#choose-us .card .card-body .card-link {
  color: #fff;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  border-bottom: 2px solid #00458f;
}
#choose-us .card .card-body .card-link:hover {
  border-bottom-color: #fff;
}
#choose-us .stats span {
  font-size: 50px;
  font-weight: 800;
}

/*# sourceMappingURL=style.css.map */
