// import variables
@import "variables.scss";
//mixin
@import "mixin.scss";
// classes 
@import "class.scss";
// import media query file 
@import "media.scss";
// import font from google fonts
@import url('https://fonts.googleapis.com/css?family=Courgette|Merienda&display=swap');


body {
    font-family: merienda, sans-serif;
    position: relative;
}

// start navbar
#header {
    .navbar {
        .navbar-brand {
            img {
                width: 150px;
            }
        }

        .nav-link {
            color: $mainColor;
            font-size: 18px;
            margin-left: 10px;
            text-transform: capitalize;

            &:hover {
                color: $secondColor;
            }
        }

        .active {
            a{
                color: $secondColor;
            }
        }
    }
}

/* intro section */
#intro {
    margin-top: 60px;
    background: url(../img/intro-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 140px 0;

    h1 {
        font-weight: bold;
        color: $white;
        font-size: 50px;
        margin-bottom: 35px;

        span {
            color: #74b5fc;
            text-decoration: underline;
        }
    }

    a {
        border: 2px solid #fff;
        padding: 5px 20px;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 600;
        @extend %transiton;

        &:first-of-type {
            background-color: $secondColor;
            border: 2px solid $secondColor;

            &:hover {
                background-color: transparent;
                border: 2px solid $white;
            }
        }

        &:last-of-type {
            margin-left: 30px;

            &:hover {
                background-color: $secondColor;
                border: 2px solid $secondColor;
            }
        }
    }
}

/* about us section */
#about-us {
    @extend %padding;

    h2 {
        @extend %heading;
    }

    .about {
        @extend %sectionDesc;
    }

    .text {
        color: $grayColor;
    }

    .media {
        margin-bottom: 10px;

        h5 {
            color: $mainColor;
        }

        p {
            color: $grayColor;
        }

        span {
            width: 64px;
            height: 64px;
            border: 2px solid $secondColor;
            border-radius: 50%;
            @extend %flexbox;
            justify-content: center;
            align-items: center;
            color: $secondColor;
            @extend %transiton;

            .svg-inline--fa {
                padding: 7px;
            }
        }

        &:hover {
            span {
                background-color: $secondColor;
                color: $white;
            }
        }
    }
}

/* services section */
#services {
    @extend %padding;
    @extend %customSection;

    h2 {
        @extend %heading;
    }

    .desc {
        @extend %sectionDesc;
    }

    .box {
        @extend %box-shadow;
        position: relative;
        background-color: $white;
        padding: 10px;
        margin: 0 10px 20px 10px;
        overflow: hidden;
        border-radius: 10px;
        @extend %transiton;
        a{
            color : #000;
            text-decoration: none;
        }
        &:hover{
            transform: translateY(-7px);
            a{
                color : $secondColor;
                cursor: pointer;
            }
            .svg-inline--fa{
                color:$secondColor;
            }
        }
        .media-body {
            padding: 10px 50px;
        }

        span {
            position: absolute;
            top: calc(50% - 24px);
            left: -5px;
        }
    }
}

/* choose us section */
#choose-us {
    @extend %padding;
    color: $white;
    background-color: $mainColor;

    h2 {
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .desc {
        @extend %sectionDesc;
        color: #dddede;
    }

    .card {
        @extend %box-shadow;
        background-color: #00458f;
        &:hover{
            background: #003b7a;
        }
        .card-body {
            .svg-inline--fa {
                color: #bfddfe;
            }

            p {
                color: #d8eafe;
                line-height: 1.5em;
            }

            .card-link {
                color: $white;
                font-weight: 600;
                @extend %transiton;
                border-bottom: 2px solid #00458f;

                &:hover {
                    border-bottom-color: $white;
                }
            }
        }
    }

    .stats {
        span {
            font-size: 50px;
            font-weight: 600;
        }
    }
}

/* start portfolio section*/
#portfolio {
    @extend %padding;

    h2 {
        @extend %heading;
        margin-bottom: 30px;
    }

    ul {
        li {
            flex-direction: row;
            padding: 5px 30px;
            margin-right: 20px;
            background-color: $lightColor;
            @extend %transiton;
            margin-bottom: 10px;
            text-transform: uppercase;

            &:hover {
                background-color: $secondColor;
                cursor: pointer;
                color: $white;
            }

            &.active {
                background-color: $secondColor;
                cursor: pointer;
                color: $white;
            }
        }
    }

    .portfolio {
        .portfolio-item {
            .portfolio-wrapper {
                position: relative;

                img {
                    width: 100%;
                    @extend %transiton;
                }

                .portfolio-info {
                    @extend %absolute;
                    @extend %flexbox;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    opacity: 0;
                    @extend %transiton;

                    h4 {
                        a {
                            color: $white;
                            text-decoration: none;
                        }
                    }

                    p {
                        text-transform: uppercase;
                    }

                    .portfolio-links {
                        a {
                            background-color: $secondColor;
                            padding: 5px 7px;
                            display: inline-block;
                            color: $white;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &:hover {
                .portfolio-wrapper {
                    img {
                        opacity: .4;
                    }

                    background-color: $mainColor;
                }

                .portfolio-info {
                    opacity: 1;
                }
            }
        }
    }
}

// start testimonials 
#testimonials {
    @extend %padding;
    @extend %customSection;

    h2 {
        @extend %heading;
        margin-bottom: 50px;
    }

    .item {
        .media {
            img {
                width: 120px;
            }

            .media-body {
                p {
                   @extend %sectionDesc;
                   margin: 0;
                   width: 100%;
                }
            }
        }
    }
}

// start team
#team {
    @extend %padding;

    h2 {
        @extend %heading;
    }

    .desc {
        @extend %sectionDesc;
    }

    .member-item {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 40px;

        img {
            @extend %transiton;
        }

        .member-info {
            @extend %absolute;
            @extend %flexbox;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            @extend %transiton;
            opacity: 0;

            p {
                color: $lightColor;
                font-style: italic;
            }

            .links {
                a {
                    color: $white;
                    margin-right: 4px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &:hover {
            img {
                opacity: .4;
            }

            .member-info {
                opacity: 1;
                background-color: rgba($color: $mainColor, $alpha: .8)
            }
        }
    }
}

/* start clients section */
#clients {
    @extend %customSection;
    @extend %padding;

    h2 {
        @extend %heading;
    }

    p {
        @extend %sectionDesc;
    }

    .client-logo {
        @extend %flexbox;
        padding: 60px;
        background-color: $white;
        height: 180px;
        margin: 1px;

        img {
            @extend %transiton;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
}

/* end clients section */

// start contact us section
#contact-us {
    @extend %padding;

    h2 {
        @extend %heading;
        margin-bottom: 30px;
    }
}

// start footer
#footer {
    @extend %padding;
    background-color: #004a99;
    color: $white;

    h4,
    h5 {
        text-transform: uppercase;
    }

    ul {
        li {
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: $lightColor;
            }
        }
    }

}

.copyright {
    background-color: $mainColor;
    color: $white;
    a{
        text-decoration: none;
    }
}

// scroll to top 
#scroll-top{
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    .svg-inline--fa{
        background-color: $secondColor;
        color: $white;
        padding: 4px;
        border-radius: 5px;
    }
}